<div class="container">
   <div class=" information_holder ">
   	    <div id="ticket">
           <div class="project_name">
             <h2><%= @project.name %></h2>
          </div><!-- project name-->
        
        <div class="ticket_name">
              <h3><%= @ticket.name %></h3>
        </div><!-- ticket_name -->

        <table id="attributes">
              <tr>
                 <th>Author:</th>
                 <td><%= @ticket.author.email %></td>
             </tr>
              <tr>
                  <th>Created:</th>
                  <td><%= time_ago_in_words(@ticket.created_at) %> ago</td>
              </tr>
        </table>

<p id="show"><%= simple_format(@ticket.description) %></p>
<div><%= link_to "Edit Ticket", [:edit, @project, @ticket], class: "edit_button button_1" %></div>


<div><%= link_to "Delete Ticket", [@project, @ticket], method: :delete,
data: { confirm: "Are you sure you want to delete this ticket?"},
class: "delete" %>
</div>
   </div><!-- information_holder-->
</div><!-- container -->