<div class="container">
    <% title(@project.name, "Projects") %>

    <div class=" information_holder ">
            	
    	<h2>Current Projects </h2>
    	  <div id="list_holder">
               <ul>
                   <li> 
                   	   <h3><%= @project.name %></h3>
                       <p id="dep"><%= @project.description %><p>
                       <span class='timeago'> created <%= time_ago_in_words(@project.created_at) %></span>

                       <div class="delete"><%= link_to "Delete Project", project_path(@project), method: :delete, data: { confirm: "Are you sure you want to delete this project?" }%>
                      </div><!--delete-->
                   </li>

               </ul><!-- unorder list-->
               <ul class="tickets">
                     <% @project.tickets.each do |ticket| %>
                          <li>#<%= ticket.id %> - <%= link_to ticket.name, [@project, ticket] %></li>
                     <% end %>
                </ul>

    	  </div><!-- list_holder -->
    </div><!-- information_holder -->	
    <br>
    <%= link_to "Edit Project", edit_project_path(@project) , :class=>"edit_button" %>
    <%= link_to "New Ticket ",  new_project_ticket_path(@project) , :class=>"edit_button" %>
</div><!-- container-->

